@model Fric_frac.Models.FricFrac.User

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>

<form class="show-room entity" action="/User/InsertOne" method="post">

    <div class="detail">

        <div class="command-panel">
            <h2 class="banner">Gebruiker</h2>
            <a href="/User/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-edit"></i>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/User/InsertingOne" class="tile">
                <i class="fas fa-plus-square"></i>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/User/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/User/Cancel" class="tile">
                <i class="fas fa-window-close"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>


            <div>
                <label for="User-Name">Name</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label for="User-Salt">Salt</label>
                <span>@Model.Salt</span>
            </div>
            <div>
                <label for="User-PersonId">Persons</label>
                <span>@Model.Person.FirstName  @Model.Person.LastName</span>
            </div>
            <div>
                <label for="User-RoleId">Rollen</label>
                <span>@Model.Role.Name</span>
            </div>

            <div>
                <label for="User-Rating">Tevreden</label>
                <input id="User-Rating" name="User-Rating" type="range" value="" />
            </div>

        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table>
            <tbody>
                @foreach (var item in ViewBag.Users)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>


                        <td>
                            <a href="/User/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>